/* .App {
  text-align: center;
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://wall2mob.com/cx/m/t2/33760-7.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
.app {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255, 0.04);
  width: 162%;
  margin-left: 20px;
  height: 35rem;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  box-shadow: -1px 4px 28px 0px rgb(0 0 0);
}
hr {
  margin-left: 0.4em;
}
a {
  text-decoration: none;
}
/* .wea {
  font-size: 2em;
} */

/* Forecast */
.the-forecast {
  text-align: center;
}

/* Temp */
h1 {
  color: #fff;
}
.letters {
  font-size: 0.5em;
}
.degree {
  padding-left: 0.5em;
  color: #fff;
  font-size: 5em;
  margin-top: -0.4em;
}

/* info */
.city {
  text-transform: uppercase;
  margin-bottom: -9px;
}
.weather,
.wind {
  margin-top: -0.8em;
  text-transform: capitalize;
}

/* search */
.input-group {
  width: 320px;
  margin-top: 15px;
}
.input {
  padding: 8px 10px;
}
form {
  display: flex;
}
.button-Up {
  height: 35px;
  margin-left: 9px;
  padding: 0 16px;
  border-radius: 4px;
    border-style: none;
    color: #fff;
    background: darkorange;
}

/* source */
.source {
  text-align: center;
  margin-bottom: 0;
  margin-left: -2em;
}
.src_link {
  margin-right: 0.2em;
}

/* Media Queries */
@media screen and (max-width:768px) {
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }
  .app{
    margin: 0 auto;
    margin-left: -19px;
    width: 100%;
    height: 29rem;
    padding: 20px;
  }
  .degree {
    margin-top: -13px;
    font-size: 3.4rem;
  }
  .input-group {
    width: 223px;
    margin: 5px 2px;
  }
  .input {
    padding: 8px 5px;
    width: 109px;
    border-style: none;
    border-radius: 4px;
  }
  .button-Up {
    height: 33px;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    background: darkorange;
  }
}