.App {
  /* text-align: center; */
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(206, 182, 190);
  width: 36%;
  height: 27rem;
  margin: auto;
  margin-top: 3em;
  padding: 2rem 3rem;
  color: rgb(136, 67, 67);
  border-radius: 10px;
  box-shadow: 1px 0px 12px 1px rgb(61 34 58 / 75%);
}
hr {
  margin-left: 0.4em;
}
a {
  text-decoration: none;
}
/* .wea {
  font-size: 2em;
} */

/* Forecast */
.the-forecast {
  text-align: center;
}

/* Temp */
h1 {
  color: rgb(139, 69, 172);
}
.letters {
  font-size: 0.5em;
}
.degree {
  padding-left: 0.5em;
  color: rgb(139, 69, 172);
  font-size: 5em;
  margin-top: -0.4em;
}
